<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div >
                <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span> {{ 'DIALOGS.ENTER_PASSWORD.TITLE' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" data-ng-show="dlg.showError">{{dlg.errorMessage}}</div>

                <ng-form name="passwdDialog" novalidate role="form">
                    <div class="form-group input-group-lg" ng-class="{true: 'has-error'}[passwdDialog.password.$dirty && passwdDialog.password.$invalid]">
                        <label class="control-label">{{ 'DIALOGS.ENTER_PASSWORD.PASSWORD' | translate}}:</label>
                        <input type="password" class="form-control" name="password" id="password" ng-model="dlg.passwd" ng-keyup="hitEnter($event)" required>
                    </div>
                </ng-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'COMMON.BUTTONS.CANCEL' | translate}}</button>
                <button type="button" class="btn btn-default" ng-click="save()" ng-disabled="(passwdDialog.$dirty && passwdDialog.$invalid) || passwdDialog.$pristine">{{ 'COMMON.BUTTONS.OK' | translate}}</button>
            </div>

        </div>
    </div>
</div>