logs/*
!.gitkeep
node_modules/
bower_components/
cordova
plugins/*
!plugins/cordova.txt
platforms/*
!platforms/cordova.txt
tools/node_modules/
tools/bower_components/
tmp
.DS_Store
.idea
jsconfig.json
.vscode/launch.json
.vscode/plugins.json
typings/cordova-typings.d.ts
